/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/

/* * {
	border: solid 2px blue;
} */

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.background {
	background-image: url('/Users/mikes/turing/mod1/projects/whats-for-dinner/assets/burger-friends.jpg');
	background-size: cover;
	height: 150%;
	width: 100%;
}

/* Nav Comp: */
.nav {
	border-top: #0fb9b1;
	background-color: #0fb9b1;
	height: 80px;
	display: flex;
	justify-content: space-between;
}

.nav-title {
	padding-left: 20px;
	padding-top: 20px;
	font-weight: bold;
	font-size: xx-large;
} 

.add-recipe-button {
	width: 150px;
	height: 46px;
	margin-top: 18px;
	margin-right: 20px;
	border-radius: 5px;
	border:#0fb9b1;
	font-family: 'Roboto', sans-serif;
	font-size: larger;
	background-color: rgba(225, 225, 225, .9);
}

/* Primary Section Comp:  */

.primary {
	height: 800px;
	display: flex;
	justify-content: space-evenly;
	align-items: start;
}

.box {
	background-color: rgba(225, 225, 225, .9);
	font-size: x-large;
	height: 20em;
	width: 25em;
	margin-top: 60px;
} 

#form-box {
	display: flex;
	flex-direction: column;
	background-color:  - rgba(225, 225, 225, .9)
}
.box-title {
	font-size: 40;
	font-weight: bolder;
	margin-left: 55px;
	margin-top: 100px;
}

form {
	height: 400px;
  display: flex; 
  flex-direction: column;
	justify-content: space-between;
	margin-left: 55px;
	margin-top: -30px;
} 

.cook-button {
	background-color: #0fb9b1;
	border-color: #0fb9b1;
	width: 145px;
	height: 38px;
	border-radius: 5px;
	margin-bottom: 75px;
	margin-left: px;
	font-size: 15;
}

#pot {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.asterick {
	color: #ee5253;
}

.cook-pot {
	height: 200px;
	width: 200px;
}

.random-dish {
	display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
	text-align: center;
  height: 20em;
  width: 20em;

}

.hidden {
	display: none;
}

.current-dish {
	font-size: 2em;
	height: 2em;
	margin-top: -2;
}

.dish-header {
	font-style: italic;
	font-size: 25;
	height: 30px;
	margin-top: -60;
}

.clear-button {
	background-color: #95a5a6;
	color: white;
	position: absolute;
	border: none;
	font-size: large;
	border-radius: 7px;
	width: 95px;
	height: 45px;
	margin-bottom: -400px;
	margin-right: -450px;

}
